.s013 {
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    background-size: cover;
    background-position: center center;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
  }

  .s013 form {
    width: 100%;
    max-width: 914px;
    margin: 0;
  }

  .s013 form fieldset{
    margin-bottom: 25px;
  }

  .s013 form fieldset legend{
    font-size: 35px;
    font-weight: bold;
    color: brown;
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }

  .s013 form .inner-form{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .s013 form .inner-form .left{
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -ms-flexbox;
    display: flex;
  }

  .s013 form .inner-form .input-wrap{
    background: tan;
    height: 80px;
    position: relative;
    padding: 20px, 25px, 20px, 25px;
  }

  .s013 form.inner-form .input-wrap .input-field label{
    font-size: 11px;
  font-weight: 500;
  display: block;
  color: #555;

   }
   .s013 form .inner-form .input-wrap .input-field input {
    font-size: 16px;
    color: #333;
    background: transparent;
    width: 100%;
    border: 0;
    font-family: 'Lato', sans-serif;
    padding: 8px 0;
  }
  .s013 form .inner-form .input-wrap .input-field input.placeholder {
    color: #808080;
  }
  .s013 form .inner-form .input-wrap .input-field input:-moz-placeholder {
    color: #808080;
  }
  
  .s013 form .inner-form .input-wrap .input-field input::-webkit-input-placeholder {
    color: #808080;
  }
  
  .s013 form .inner-form .input-wrap .input-field input.hover, .s013 form .inner-form .input-wrap .input-field input:focus {
    box-shadow: none;
    outline: 5px;
  }
  .s013 form .inner-form .input-wrap.first {
    -ms-flex-positive: 1;
        flex-grow: 1;
    border-radius: 3px 0 0 3px;
  }
  
  .s013 form .inner-form .input-wrap.second {
    min-width: 262px;
    border-radius: 0 3px 3px 0;
    border-left: 1px solid #e5e5e5;
  }
  
  .s013 form .input-select {
    height: 34px;
    padding: 10px 0 6px 0;
  }

   